<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;common;views"/>
    </assemblyBinding>
  </runtime>
  <!--<startup>
    <supportedRuntime version="v4.0"/>
  </startup>-->
</configuration>
<!--这个文件和init.conf文件内容相同，对于编译和发布软件没有用途，可以删除-->
<!--由于Visual Studio的Bug(有疑问可以询问作者)，请在调试时把本文件改名为App.config，否则有可能无法调试;
用Sharpdevelop调试则不需要这个文件，可以直接调试。（确实是Visual Studio的Bug啊！！！浪费我好多时间）-->